<table class="table">
  <thead>
    <h2>Chef hatten</h2>
  </thead>
  <tr>
    <td>Har den: <strong class="current-chef"> {{view.currentChef}} <i class="icon-shopping-cart" ></i></strong></td>
  </tr><tr>
    <td>Får den:{{!display User with next turn}}</td>
  </tr>
</table>
