<div class="container-fluid">
  <div class="row-fluid">
    <div class="span4">
      {{render "chef"}}
      <hr>
    </div>
    <div class="span8">
      {{render "items"}}
    </div>
  </div>
</div>
